# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go profiling tool
*.prof

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go generated folders
_obj
_test
vendor
*__debug_bin*

# Go workspace file
go.work
go.work.sum

# env file
.env
.DS_Store

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a

# Architecture specific extensions/prefixes
*.[568vq]

# CGO specific files
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

# Common IDE folders
.idea
.vscode